asgiref==3.10.0
colorama==0.4.6
defusedxml==0.7.1
Django==5.2.7
django-ledger==0.8.2
django-treebeard==4.7.1
Faker==37.11.0
fonttools==4.60.1
fpdf2==2.8.4
iniconfig==2.1.0
Markdown==3.9
ofxtools==0.9.5
packaging==25.0
pillow==11.3.0
pluggy==1.6.0
psycopg==3.2.10
psycopg-binary==3.2.10
Pygments==2.19.2
pytest==8.4.2
pytest-django==4.11.1
python-dotenv==1.1.1
sqlparse==0.5.3
tzdata==2025.2
django-environ
gunicorn
whitenoise
